:root {
    --primary-brand: #4d5ae5;
    --primary-brand-second: #404bbf;
    --c-main-dark: #2e2f42;
    --section-team-background: #f4f4fd;
    --body-text: #434455;
    --subtle-text: #8e8f99;
    --accent-color: #e7e9fc;
    --background-primary: #ffffff;
    --modal-background: #fcfcfc;
    --font-primary: "Roboto", sans-serif;
    --font-logo: "Raleway", sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2%;
    line-height: 24px;
    background-color: #FFFFFF;
    color: #434455;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2E2F42;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}


.container {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
}

@media screen and (max-width: 768px) {
    .nav-list {
        display: none;
    }

    .address-list {
        display: none;
    }
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17.5px 16px;
}

.menu-btn {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border: none;
}

.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.header-logo {
    color: #2E2F42;
}

.hero-section {
    background-color: #434455;
    width: 320px;
    height: 432px;
    margin: 0 auto;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg/hero-bg-mob.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2E2F42;
    text-align: center;
}

@media only screen and (min-resolution: 192dpi) and (min-width: 320px) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/hero-bg/hero-bg-mob@2x.jpg);
    }
}

.hero-title {
    color: var(--WHITE, #FFF);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:focus,
.button:hover {
    background-color: #404BBF;
}

.advantages-section {
    padding: 96px 0;
}

@media screen and (max-width: 1157.98px) {
    .advantages-icons {
        display: none;
}
}

.advantages-list {
    list-style-type: none;
}

.advantages-title {
    letter-spacing: 0.02em;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.advantages-subheader {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.text {
    margin-bottom: 72px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.team-section {
    background: var(--CLOUD, #F4F4FD);
    padding: 96px 0;
}

.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-group {
    display: flex;
    flex-direction: column;
    gap: 72px;
    flex-basis: auto;
    align-items: center;
}

.team-group-photos {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-names {
    font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-members {
    text-align: center;
    padding: 32px 0;
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-shrink: 0;
}

.icons-social {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--IRIS, #4D5AE5);
    border-radius: 50%;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.section-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.ul .link {
    letter-spacing: 0.02em;
}

.portfolio {
    padding: 96px 0;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.card-set {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.card-set-item {
    border: 1px solid var(--CLOUD, #F4F4FD);
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-set-item:hover .pop-up-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}

.portfolio-examples {
    position: relative;
    overflow: hidden;
}

.pop-up-card {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-header {
    padding: 32px 16px;
}
.portfolio-subheader {
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--NAVY-BLUE, #2E2F42);
}

.portfolio-text {
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer {
    background-color: #2E2F42;
    padding: 97px 0 96px;
    display: flex;
    flex-direction: column;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-align: center;
}

.footer-logo-accent {color: #F4F4FD;}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    margin-top: 17.5px;
    margin-bottom: 72px;
}

.footer-social {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: center;
}

.social-links-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-bottom: 72px;
}


.footer-list {
    height: 40px;
    width: 40px;
}

.social-link-footer {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.email-subscribe {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.email-input {
    width: 264px;
    height: 40px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

placeholder {
    color: #ffffff;
}

.submit-subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
}

.icon-frame {
    margin-left: 16px;
    fill: #ffffff;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 72px 16px 40px;
    margin: 0 auto;
    z-index: 999;
    display: flex;
    flex-direction: column;
    transition: transform 300ms ease-in;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    border-radius: 50%;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border: none;
    padding: 0;
    cursor: pointer;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
}

.mobile-menu-link {
    color: var(--NAVY-BLUE, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-menu-link.accent {
    color: var(--OCEAN, #404BBF);
}


.mobile-contacts {
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-contacts-item {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-contacts-link.accent {
    color: var(--IRIS, #4D5AE5);
}

.mobile-menu-socials {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: start;
}

.mobile-social-item {
    height: 40px;
    width: 40px;
}

.mobile-social-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}






@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }

    .header-inner {
        width: 768px;
        display: flex;
        justify-content: space-between;
        padding-top: 0;
        padding-bottom: 0;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        gap: 120px;
        align-items: center;
    }

    .nav-list {
        display: flex;
        flex-grow: 1;
        gap: 40px;
        justify-content: center;
        align-items: center;
        }
    
    .link {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
        }

    .nav-list .link {
        display: inline-block;
        padding: 24px 0;
        position: relative;
        }
    
    .nav .link:hover {
        color: #404BBF;
        }
    .nav .link:focus {
        color: #404bbf;
        }
    
    .current {
        color: #404BBF;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .current::after {
        content: '';
        width: 48px;
        height: 4px;
        position: absolute;
        bottom: -1px;
        left: 0;
        background-color: #404BBF;
        border-radius: 2px;
        }

    .address {
        font-style: normal;
        }
    
    .address-list {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        /* gap: 12px; */
        align-items: center;
        justify-content: center;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .address-link {
        color: var(--SLATE, #434455);
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
        }
    
    .hero-section {
        min-width: 768px;
        min-height: 436px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url(../images/hero-bg/hero-bg-tab.jpg);
        padding: 112px 0;
        margin-right: auto;
        margin-left: auto;
        }
    
    @media (min-resolution: 192dpi) and (min-width: 768px) {
            .hero-section {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
                url(../images/hero-bg/hero-bg-tab@2x.jpg);
            }
        }
    .hero-title {
        color: #FFFFFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        max-width: 496px;
        margin-bottom: 48px;
        margin-left: auto;
        margin-right: auto;
        }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .advantages {
        flex-basis: calc((100% - 24px) / 2);
    }

    .text {
        margin-bottom: 0;
    }

    .team-group {
        display: flex;
        flex-direction: row;
        gap: 72px 24px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team-group-photos {
        margin: 0;
    }

    .card-set {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .card-set-item {
        flex-basis: calc((100% - 24px) / 2);
        margin-bottom: 0;
    }

    .info-socials-wrap {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .footer-logo {
        text-align: start;
    }

    .footer-social {
        text-align: start;
    }

    .email-subscribe {
        flex-direction: row;
    }
}

/*Desktop version*/

 @media screen and (min-width: 1158px) {
     .container {
         max-width: 1158px;
         padding-left: 15px;
         padding-right: 15px;
     }

.header {
    display: flex;
    margin: 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);}

.header-inner {
    width: 1158px;
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
}

.nav {
    display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;}

.nav-list {
    display: flex;
    flex-grow: 1;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.nav-list .link {
    display: inline-block;
    padding: 24px 0;
    position: relative;
}

.nav .link:hover {
    color: #404BBF;
}

.nav .link:focus {
    color: #404bbf;
}

.current {
    color: #404BBF;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: '';
    width: 48px;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 0;
    background-color: #404BBF;
    border-radius: 2px;
}

.address {
    font-style: normal;
    display: flex;
}

.address-list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 40px;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.address-link {
    color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
    color: #404BBF;
}


.logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
    margin-right: 76px;
}

.header-logo {
    color: #2E2F42;
}

.hero-section {
    min-width: 1440px;
    min-height: 600px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg/hero-bg-desktop.jpg);
    padding: 188px 0;
    margin-right: auto;
    margin-left: auto;
}

@media (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero-section {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bg/hero-bg-desktop@2x.jpg)    
}
}

.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.button {font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    background-color: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.button:focus,
.button:hover {
    background-color: #404BBF;
}

.advantages-section {
    padding: 120px 0;
    margin-left: 0;
    margin-right: 0;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8E8F99);
    background: var(--CLOUD, #F4F4FD);
}

.advantages-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex-wrap: nowrap;
}

.advantages {
    flex-basis: calc((100%-72px)/4);
    min-width: 264px;
}

.advantages-title {
    letter-spacing: 0.02em;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}


.advantages-subheader {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
}

.text {
    letter-spacing: 0.02em;
    margin-bottom: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-section {
    padding: 120px 0;
}

.team-title { background-color: #F4F4FD;
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.team-group {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
    flex-basis: auto;}

.team-group-photos {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-members {padding: 32px 0;
    text-align: center;
    margin-bottom: 8px;}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.icons-social {
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--IRIS, #4D5AE5);
    border-radius: 50%;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.section-text {font-size: 16px;
    letter-spacing: 0.02em;}

.ul .link {letter-spacing: 0.02em;} 

.header-third {font-size: 20px;
    font-weight: 500;
    color: #2E2F42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio {padding: 120px 0;
}

.section-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    line-height: 1.11;
    text-align: center;
    margin-bottom: 72px;
}

.card-set {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.card-set-item {flex-basis: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-set-item:hover .pop-up-card {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%); }

.portfolio-examples {
    position: relative;
    overflow: hidden;
}

.pop-up-card {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.footer {
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

.info-socials-wrap {gap:120px;}

.footer-socials {
    padding-right: 80px;
}

.footer-social {
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-align: start;
}

.social-links-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.footer a {
    text-decoration: none;
    text-align: start;
}

.footer-logo {
    color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.footer-logo-accent {color: #F4F4FD;}

.footer-section {
    display: flex;
    align-items: baseline;
    gap: 80;
}


.footer-list {
    height: 40px;
    width: 40px;
}

.social-link-footer {
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #4d5ae5;
    border-radius: 50%;
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.email-subscribe {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.email-input {
    width: 264px;
    height: 40px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    padding-left: 16px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

placeholder {
    color: #ffffff;
}

.submit-subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.icon-frame {
    margin-left: 16px;
    fill: #ffffff;
}
}
 
/* Modal window */

.backdrop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(46, 47, 66, 0.4);
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    /* .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
} */


    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        width: 288px;
        min-height: 584px;
        border-radius: 4px;
        background-color: var(--DAIRY, #FCFCFC);
        padding: 72px 24px 24px 24px;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    }

    .modal-window-text {
        color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        margin-bottom: 16px;
    }

    .modal-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close-btn:hover,
    .modal-close-btn:focus {
        background-color: #404bbf;
        border: none;
    }

    .modal-close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close-btn:hover .modal-close-icon,
    .modal-close-btn:focus .modal-close-icon {
        fill: #ffffff;
    }

    .modal-form {
        margin-bottom: 8px;
    }

    .connection-form {
        position: relative;
        margin-bottom: 8px;
    }

    .label {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;

    }

    .input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        background-color: transparent;
        border: 1px solid rgba(46, 47, 66, 0.4);
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input:focus {
        border-color: #4D5AE5;
    }

    .modal-icon {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .input:focus+.modal-icon {
        fill: #4D5AE5;
    }

    .comment-field {
        margin-bottom: 16px;
    }

    .comment-text {
        outline: transparent;
        background-color: transparent;
        padding: 8px 16px;
        width: 100%;
        height: 120px;
        color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .comment-text:focus {
        border-color: #4D5AE5;
    }

    .privacy-checkbox {
        margin-bottom: 24px;

    }

    .modal-submit-btn {
        display: block;
        min-width: 169px;
        height: 56px;
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #FFFFFF;
        border-radius: 4px;
        background: var(--IRIS, #4D5AE5);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        margin: 0 auto;
        cursor: pointer;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .label-user-privacy {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        ;
    }

    .span-user-privacy {
        width: 16px;
        height: 16px;
        border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 2px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        fill: transparent;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border 250ms cubic-bezier(0.4, 0, 0.2, 1),
            fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .privacy-link {
        color: #4d5ae5;
    }

    .input-privacy:checked+.label-user-privacy>.span-user-privacy {
        background-color: #404BBF;
        border: none;
        fill: #F4F4FD;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;}

@media screen and (min-width: 768px) {
    .modal {
        width:408px;
    }
}